header {
  background: url("/assets/home/hero_img.jpg") no-repeat center center/cover;
  color: #fff;
  position: relative;
  z-index: 100;
}

header:before {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.62);
  z-index: -1;
}

.hero-wrapper {
  max-width: 80%;
  margin: auto;
  padding: 10rem 0rem;
  z-index: 1;
}

header h1 {
  font-size: 6.5rem;
  letter-spacing: 0.8rem;
  width: 100%;
  padding-bottom: 1rem;
  text-transform: uppercase;
  margin-bottom: 4rem;
  font-family: "BauerBodoniStd-Bold";
}

header span {
  display: block;
  margin-top: 2rem;
  font-size: 2rem;
  letter-spacing: 0.7rem;
}

@media screen and (max-width: 1024px) {
  header h1 {
    font-size: 3rem;
    letter-spacing: 0.5rem;
    padding-bottom: 0.8rem;
    margin-bottom: 2rem;
  }

  .hero-wrapper {
    padding: 7rem 0rem;
  }

  header span {
    margin-top: 2rem;
    font-size: 1rem;
    letter-spacing: 0.5rem;
  }
}

@media screen and (max-width: 500px) {
  header h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  header span {
    margin-top: 1rem;
    line-height: 1.5rem;
  }
}
